<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>lcov,cobertura</Format>
          <ExcludeByFile>**/Migrations/*.cs,**/Program.cs</ExcludeByFile>
          <Exclude>[RootsTechnicalTest.Api]Program;[RootsTechnicalTest.Api]RootsTechnicalTest.Api.Migrations.*</Exclude>
          <CoverletOutput>TestResults/coverage</CoverletOutput>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>